/* components/sections/styles/ChatLink.module.css */
.chatLinkSection {
  width: 100%;
  padding: 40px 0;
}

.chatLinkContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.chatLink {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%; /* 40% width */
  min-width: 300px; /* Prevent becoming too narrow */
  text-decoration: none;
  color: #8D8D8D;
  transition: all 0.3s ease;
  padding: 15px 0;
}

.chatLink:hover {
  color: #fff;
}

.arrow {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url('/arrow-link-dobbi.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s ease;
  margin-left: 10px;
}

.chatLink:hover .arrow {
  background-image: url('/arrow-link-dobbi-w.png');
}

.linkText {
  
  letter-spacing: -0.32px;
  font-weight: 500;
}

/* Responsive adjustments */
@media (max-width: 575px) {
  .linkText {
    font-size: 15.43px;
    letter-spacing: -0.32px;
    font-weight: 500;
  }


.arrow {
  width: 14px;
}

.chatLinkSection {
  padding: 7px 0;
}
  
}

@media (max-width: 319px) {

  .linkText {
    font-size: 17px;
    white-space: pre-wrap;
  }
}