/* components/sections/styles/FeaturedProjects.module.css */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 20px 0px;
}

.fullWidthText {
  font-size: 45px;
  line-height: 110%;
  letter-spacing: -0.64px;
  color: #fff;
  margin: 0 0 50px 0;
  text-align: left;
  font-weight: 500;
  white-space: pre-wrap;
}

.fullWidthText:first-child {
  margin: 0 0 100px 0; 
}

.projectContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  margin-bottom: 110px;
}

.imageColumn {
  position: relative;
  aspect-ratio: 1/1; /* Adjust as needed */
  overflow: hidden;
}

.projectImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectName {
  font-size: 54px;
  line-height: 87%;
  letter-spacing: -2.96px;
  font-weight: 700;
  margin: 0 0 20px 0;
  width: 70%;
}

.projectName a {
  color: #fff;
  text-decoration: none;
}

.projectMeta {
  display: flex;
  gap: 20px;
  color: #8D8D8D;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.32px;
  line-height: 108%; 
  
}
.projectMeta a {
  text-decoration: none;
}

.projectMeta:hover {
  color: #fff;
}

.projectDescription {
  font-size: 20px;
  line-height: 108%;
  letter-spacing: -0.32px;
  color: #8D8D8D;
  margin: 0;
}

.arrow {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url('/arrow-link-dobbi.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s ease;
  margin-left: 10px;
}

.projectMeta:hover .arrow {
  background-image: url('/arrow-link-dobbi-w.png');
}

/* Responsive */
@media (max-width: 768px) {
  .projectContainer {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  
  .fullWidthText,
  .projectDescription {
    font-size: 18px;
  }
  
  .projectName {
    font-size: 36px;
  }
}