/* components/sections/styles/HomeBand8020Contact.module.css */
.bandContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px 30px 0px 30px;
  position: relative;
  display: grid;
  grid-template-columns: 74% 26%;
  gap: 40px;
  align-items: flex-start;
  border-top: 1px solid #8d8d8d;
  padding-top: 25px;
}

.leftColumn {
  display: flex;
  align-items: flex-start;
}

.title {
  letter-spacing: -2.96px;
  margin: 0;
  font-size: 54px;
  line-height: 87%;
  text-align: left;
  font-weight: 700;
  color: #fff;
}

.rightColumn {
  display: flex;
  align-items: center;
  transform: translateY(0);
}

.ctaButtonsContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 0;
  width: 100%;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  transition: all 0.3s ease;
  padding: 3px 13px;
  justify-content: flex-start;
  width: fit-content;
  position: relative;
}

.leftLink {
  justify-content: flex-start;
}

.rightLink {
  justify-content: flex-start;
}

.link .arrow {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%) scale(0);
  opacity: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  flex-shrink: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  background: transparent;
}

.link:hover {
  padding-left: 3px;
  padding-right: 45px;
}

.link:hover .arrow {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}

.linkText {
  letter-spacing: -.32px;
  font-size: 20px;
  line-height: 121%;
  font-weight: 500;
  transition: transform 0.3s ease;
  margin-left: 0;
}

.link:hover .linkText {
  transform: translateX(30px);
}

/* Responsive */
@media (max-width: 575px) {
  .bandContainer {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 120px 17px 30px;
  }

  .title {
    font-size: 42px;
  }

  .ctaButtonsContainer {
    gap: 15px;
  }
}

