/* components/sections/styles/HomeBand50Contact.module.css */
.bandContainer {
  grid-template-columns: 50% 50%;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 20px;
  display: grid;
}

.leftColumn {
  display: flex;
  align-items: center;
}

.title {
  letter-spacing: -5.2px;
  text-align: left;
  margin: 0;
  font-size: 80px;
  font-weight: 700;
  line-height: 87%;
}

.rightColumn {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative; /* Ensure transform applies correctly */
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
}

.name {
  letter-spacing: -0.64px;
  text-align: left;
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 500;
  line-height: 110%;
}

.email {
  letter-spacing: -0.64px;
  color: #8D8D8D;
  font-size: 20px;
  line-height: 99%;
  text-align: left;
  font-weight: 400;
}

/* Ensure the anchor styles are specifically applied to the link */
.emailLink {
  text-decoration: none;
  transition: color 0.5s ease;
  color: inherit; /* Inherit color from .email by default */
}

.emailLink:hover {
  color: #fff;
}

/* Responsive adjustments for mobile */
@media (max-width: 768px) { /* Using 768px as a common breakpoint for mobile */
  .bandContainer {
    grid-template-columns: 1fr; /* Stack columns into a single column */
    padding: 0px 20px; /* Adjust padding for mobile screens */
    align-items: flex-start; /* Align stacked items to the start */
    display: inline-block;
  }

  .leftColumn {
    margin-bottom: 20px;
    align-items: flex-start;
  }

  .title {
    font-size: 38px;
    letter-spacing: -3px;
    text-align: left;
    width: 100%;
  }

  .rightColumn {
    height: auto;
    padding-left: 0;
    align-items: flex-start;
  }

  .contactInfo {
    padding-left: 0;
    align-items: flex-start;
    width: 100%;
  }

  .name {
    font-size: 20px;
    text-align: left;
    margin: 0 0 12px;
  }

  .email {
    font-size: 12px;
    text-align: left;
  }
}