/* components/sections/styles/Services8020Grid.module.css */
.sectionWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
  padding: 30px 0;
}

.gridContainer {
  grid-template-columns: 77% 23%;
  align-items: flex-start;
  max-width: 1820px;
  margin: 0 auto;
  padding: 30px 30px;
  display: grid;
  height: auto;
  width: 100%;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 160px;
  padding-right: 10px;
}

.title {
  letter-spacing: -4.96px;
  margin: 0;
  font-size: 80px;
  line-height: 87%;
  text-align: left;
  font-weight: 700;
  white-space: pre-wrap;
}

.description {
  letter-spacing: -.48px;
  margin: 0;
  font-size: 25px;
  line-height: 108%;
  text-align: left;
  white-space: pre-wrap;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 30px;
  transform: translateY(0); /* Ensure proper positioning for parallax */
}

/* --- Services List Styling --- */
.servicesList {
  display: flex;
  flex-direction: column;
}

.serviceItem {
  cursor: ns-resize;
  transition:
    color 0.7s ease,
    padding 0.7s ease;
  height: 0.7s ease;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.serviceItem.active {
  padding-top: 40px;
  padding-bottom: 40px;
  height: auto;
}

.serviceTitle {
  font-size: 20px;
  line-height: 112%;
  letter-spacing: -1.12px; 
  font-weight: 500;
  color: #8D8D8D;
  margin: 0; 
  transition:
    color 0.3s ease,
    font-weight 0.3s ease;
}

.serviceItem.active .serviceTitle {
  font-size: 25px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 87%;
  letter-spacing: -1.12px; 
}

.serviceDescription {
  font-size: 25px;
  line-height: 87%;
  letter-spacing: -1.12px; 
  color: #fff;
  white-space: pre-wrap;
  margin-bottom: 25px;
}

.serviceOptionsList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  align-items: center;
  text-transform: capitalize;
}

.serviceOptionItem {
  font-size: 12px;
  line-height: 1;
  color: #fff;
  display: flex;
  align-items: center;
}

.serviceOptionItem:not(:last-child)::after {
  content: '•';
  color: #fff;
  margin: 0 5px;
}

/* Responsive */
@media (max-width: 575px) {
  .sectionWrapper {
    min-height: auto;
    padding: 0;
  }

  .gridContainer {
    grid-template-columns: 1fr;
    padding: 50px 17px 40px;
  }

  .leftColumn {
    gap: 50px;
    padding: 20px 0 90px 0;
  }

  .title {
    font-size: 35px;
    letter-spacing: -2.5px;
    white-space: normal;
  }

  .description {
    font-size: 20px;
    white-space: normal;
  }

  .rightColumn {
    gap: 20px;
    padding: 40px 0;
    border-top: 1px solid #8D8D8D;
  }

  .serviceTitle {
    font-size: 20px;
  }

  .serviceDescription {
    font-size: 25px;
  }

  .serviceOptionsList {
    gap: 3px;
  }

  .serviceOptionItem {
    font-size: 14px;
  }

  .serviceItem.active {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}