.footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 30px 20px;
  height: 250px;
  flex-shrink: 0;
  width: 100%;
  /* position: relative;  Removed because it was giving me some weird issues, showing data from previous page, coming from logo Link*/
  max-width: 1820px;
  margin: 0 auto;
  background-color: #000;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Pushes groups to top and bottom */
  height: 100%;
}

.leftTopGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.leftCopyRight {
  white-space: pre-wrap;
  font-size: 12px;
  line-height: 118%;
  font-weight: 500;
}
.leftCopyRight span {
  text-transform: uppercase;
}

.leftSocialMedia a {
    width: 70px;
    font-size: 12px;
    line-height: 118%;
    text-decoration: none;
    display: block;
    font-weight: 400;
    letter-spacing: 0;
}

.leftCopyrightYear {
  font-size: 12px;
  line-height: 118%;
  letter-spacing: 0;
  font-weight: 400;
}

.right {
  display: flex;
  align-items: flex-end; /* Align logo to bottom */
}

.logo {
  height: 30px;
  width: auto;
}

/* Mobile styles */
@media (max-width: 575px) { 
  .footer {
    padding: 50px 20px 20px;
    
  }

  .leftCopyRight {
    white-space: pre-wrap;
    /* like Valentine */
    font-size: 10px; 
  }
}